body {
  font-family: sans-serif;
  background-color: #cbf7ed;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

form button:disabled {
  background-color: #ccc;
}

.checkoutNav {
  background-color: #cbf7ed;
}

.nav {
  background-color: #a9cef4;
}

.signinbackground {
  background-color: #406e8e;
}

.allBoats {
  display: flex;
  flex-wrap: wrap;
}

.allProducts {
  display: flex;
  flex-wrap: wrap;
}

.allOrders {
  display: flex;
  flex-wrap: wrap;
}

/* .allUsers {
  display: flex;
  flex-wrap: wrap;
} */
